<div class="wrapper" style="background-image: url('/assets/images/home.png');
background-size: cover;
background-repeat: no-repeat; height:800px;">
<nav class="navbar" role="navigation" style="margin-bottom:0px;">
        <div class="container">
          <div class="row">
            <div class="col-xs-6">
            <img src="/assets/images/logo-transparante.png" alt="" class="img-responsive pull-left" style="width: 60px;">
              <h4 class="brand">
              Conta<strong>fácil</strong>
              <h4>
            </div>
            <div class="col-xs-6 text-right">
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="#que-es" class="navbar-link">¿Qué es?</a>
                </li>
                <li>
                  <a href="#beneficios" class="navbar-link">Beneficios</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>

<div class="container" ng-controller="InitialBalanceCtrl">
  <div class="container">
    <div class="row row-centered registry-step-header">
      <div class="col-xs-12 text-left col-centered">
        <h2 class="registry-title" style="color:white;">
          Paso 2 de 2: Crea tus cuentas
        </h2>
      </div>
    </div>
    <!-- END registry-step-header -->
    <div class="row row-centered" style="background-color:white;border-radius:5px;padding-top:10px;padding-bottom:10px;">
      <div class="col-xs-12 col-centered">
        <tabset id="accounts-registry-tab-content" class="tab-content">
          <button class="btn btn-default btn-info" ng-click="openAccountForm()"><i class="fa fa-plus"></i>
            Agregar cuenta
          </button>
          <tab heading="Todas">
            <table class="table" style="margin-top: 30px;">
              <thead>
                <tr>
                  <th class="col-xs-1">Código</th>
                  <th class="col-xs-2">Tipo</th>
                  <th class="col-xs-6">Nombre</th>
                  <th class="col-xs-3">Saldo inicial</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="account in accounts" id="{{account.id}}">
                  <td>{{account.pucId}}</td>
                  <td>
                    <i ng-class="{
                      'fa fa-home': account.accountType == 'EQUITY',
                      'fa fa-minus': account.accountType == 'LIABILITIES',
                      'fa fa-plus': account.accountType == 'ASSETS'
                    }"></i>
                    {{toEs(account.accountType)}}
                  </td>
                  <td>{{account.name}}</td>
                  <td>
                    $ <input ui-event="{ change : 'updateTotals()' }" type="text" ng-model="account.initialBalance" money precision="2">
                  </td>
                </tr>
              </tbody>
            </table>
            <h4 class="text-right" style="margin-right: 210px;" ng-class="{'text-danger':totalAssets-totalLiabilites-totalEquity !== 0.0 && totalAssets-totalLiabilites-totalEquity !== 0 && totalAssets-totalLiabilites-totalEquity !== '0.0'}">Balance <span ng-class="{'text-danger':totalAssets-totalLiabilites-totalEquity !== 0.0 && totalAssets-totalLiabilites-totalEquity !== 0 && totalAssets-totalLiabilites-totalEquity !== '0.0'}" style="font-size: 24px; margin-left: 5px;">{{totalAssets-totalLiabilities-totalEquity | currency:'$ '}}</span></h4>
            <button ng-click="submitInitialBalance()" class="registry-next-step-btn btn btn-default btn-success" style="font-weight: bold;">Siguiente Paso</button>
          </tab>
          <tab
          ng-repeat="accountType in accountsTypes"
          heading="{{accountType.es}}">
            <table class="table">
              <thead>
                <tr>
                  <th class="col-xs-2">Código</th>
                  <th class="col-xs-7">Nombre</th>
                  <th class="col-xs-3">Saldo inicial</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="account in accounts | filter:{accountType:accountType.name}" id="{{account.id}}">
                  <td>{{account.pucId}}</td>
                  <td>{{account.name}}</td>
                  <td>$ <input ui-event="{ change : 'updateTotals()' }" type="text" ng-model="account.initialBalance" money precision="2"></td>
                </tr>
              </tbody>
            </table>
            <button ng-click="submitInitialBalance()" class="registry-next-step-btn btn btn-default btn-success" style="font-weight: bold;">Siguiente Paso</button>
          </tab>
        </tabset>
      </div>
    </div>

  </div>

</div>
</div>
