
<div class="container" ng-controller="InitialBalanceCtrl">
  <nav class="registry-navbar">
    <div class="container">
      <div class="row registry-header">
        <div class="col-xs-6 pull-left">
          <h3 class="logo-contafacil">
          Conta<strong>fácil</strong>
          </h3>
        </div>
      </div>
    </div>
  </nav>
  <div class="container jumbotron">
    <div class="row row-centered registry-step-header">
      <div class="col-xs-12 text-left col-centered">
        <h2 class="registry-title">
          Paso 2 de 2: Crea tus cuentas
        </h2>
      </div>
    </div>
    <!-- END registry-step-header -->
    <div class="row row-centered">
      <div class="col-xs-12 col-centered">
        <tabset id="accounts-registry-tab-content" class="tab-content">

          <tab heading="Todas">
            <table class="table">
              <thead>
                <tr>
                  <th class="col-xs-2">Código</th>
                  <th class="col-xs-7">Nombre</th>
                  <th class="col-xs-3">Saldo inicial</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="account in accounts" id="{{account.id}}">
                  <td>{{account.pucId}}</td>
                  <td>{{account.name}}</td>
                  <td>
                    <input ui-event="{ change : 'updateTotals()' }" type="number" ng-model="account.initialBalance">
                  </td>
                </tr>
              </tbody>
            </table>
            <button class="btn btn-default btn-info" ng-click="openAccountForm()" style="font-weight: bold;">Agregar cuenta</button>
          </tab>
          <tab
          ng-repeat="accountType in ['ASSETS','LIABILITIES','EQUITY','EXPENSES','REVENUE']"
          heading="{{accountType}}">
            <table class="table">
              <thead>
                <tr>
                  <th class="col-xs-2">Código</th>
                  <th class="col-xs-7">Nombre</th>
                  <th class="col-xs-3">Saldo inicial</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="account in accounts | filter:{accountType:accountType}" id="{{account.id}}">
                  <td>{{account.pucId}}</td>
                  <td>{{account.name}}</td>
                  <td><input type="number" ng-model="account.initialBalance"></td>
                </tr>
              </tbody>
            </table>
            <button class="btn btn-lg btn-info" ng-click="openAccountForm()">
              Agregar cuenta
            </button>

          </tab>
        </tabset>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-3">
        <div class="form-group">
          <label for="total-assets">Total Activos</label>
          <input type="number" id="total-assets" value="{{totalAssets}}" disabled>
        </div>
      </div>
      <div class="col-xs-1" style="margin-right: -50px">
        <i class="fa fa-minus" style="margin-top: 7px;"></i>
      </div>
      <div class="col-xs-3">
        <div class="form-group">
          <label for="total-assets">Total Pasivos</label>
          <input type="number" id="total-assets" value="{{totalLiabilities}}" disabled>
        </div>
      </div>
      <div class="col-xs-1">
      <!-- TODO: replace for equal icon -->
        <i class="fa fa-pause" style="transform: rotate(90deg);"></i>
      </div>
      <div class="col-xs-4">
        <div class="form-group">
          <label for="total-assets">Total Patrimonio</label>
          <input type="number" id="total-assets" value="{{totalEquity}}" disabled>
        </div>
      </div>
    </div>

    <div class="col-xs-12 text-center">
      <button ng-click="submitInitialBalance()" class="registry-next-step-btn btn btn-default btn-success" style="font-weight: bold;">Siguiente Paso</button>
    </div>
  </div>

</div>